<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootFolderPath" value="C:\Temp"/>
  </appSettings>
  <connectionStrings>
    <add name="LoggingDb" connectionString="Data Source=tcp:13.67.233.200,1433;Initial Catalog=AuditLogs;User ID=tcorey;Password=saveme" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>